<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.45.2" targetFramework="net452" />
  <package id="AutoFixture.AutoNSubstitute" version="3.45.2" targetFramework="net452" />
  <package id="FluentAssertions" version="4.5.0" targetFramework="net452" />
  <package id="log4net" version="2.0.5" targetFramework="net452" />
  <package id="Log4Net.Async" version="2.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net452" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net452" />
  <package id="NUnit" version="3.2.1" targetFramework="net452" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net452" />
  <package id="Progenity.Common" version="1.2.3.0" targetFramework="net452" />
  <package id="Progenity.Logging" version="3.2.8-beta" targetFramework="net452" />
  <package id="Progenity.Test" version="2.0.4-beta" targetFramework="net452" />
  <package id="RabbitMQ.Client" version="3.6.1" targetFramework="net452" />
  <package id="SystemWrapper.Interfaces" version="0.13.0.59" targetFramework="net452" />
  <package id="SystemWrapper.Wrappers" version="0.13.0.59" targetFramework="net452" />
</packages>